*~
*.o
*.exe
test
*.a
*.svn
*.svn*
filezilla/locales/*.mo
filezilla/locales/*.po.new
*Makefile.in
*autom4te.cache*
filezilla/libtool
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
*/*/*/*/*/Makefile
*/*/*/*/*/*/Makefile
filezilla/config.log
filezilla/config.status


